[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask-sqlalchemy = "*"
sqlalchemy-mixins = "*"
flask-praetorian = "*"
flask-cors = "*"
flask-limiter = "*"
pymysql = "*"
"psycopg2" = "*"
flask-classful = "*"
"e1839a8" = {path = ".", editable = true}
flask-migrate = "*"
flask-script = "*"

[dev-packages]

[requires]
python_version = "3.6"
