alembic
bcrypt
certifi
cffi
chardet
click
dash
dash-core-components
dash-html-components
dash-renderer
decorator
Faker
Flask
Flask-Bcrypt
flask-buzz
Flask-Click-Migrate
Flask-Compress
Flask-Cors
Flask-Limiter
flask-marshmallow
Flask-Migrate
flask-praetorian
Flask-Script
Flask-SQLAlchemy
idna
ipython-genutils
itsdangerous
Jinja2
jsonschema
jupyter-core
limits
Mako
MarkupSafe
marshmallow
marshmallow-sqlalchemy
mysqlclient
nbformat
passlib
pendulum
plotly
psycopg2
psycopg2-binary
py-buzz
pycparser
PyJWT
PyMySQL
python-dateutil
python-editor
pytz
pytzdata
requests
six
SQLAlchemy
sqlalchemy-mixins
SQLAlchemy-Utils
text-unidecode
traitlets
typing
tzlocal
urllib3
Werkzeug
